.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "Charon", Arial, sans-serif;
  margin: 40px 5px;
  font-size: 20px;
  color: white;
}

.preloader__circle {
  width: 50px;
  height: 50px;
  border: 4px solid #3baaf3;
  border-bottom-color: #f33b3b;
  border-top-color: #56b459;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
